@charset "UTF-8";
.partners {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 50px;
  font-family: "Geometria", Tahoma, sans-serif;
  font-size: 16px; }

.partners__title {
  font-size: 35px;
  line-height: 1.15;
  color: #000000;
  font-weight: 900;
  font-family: "Geometria", Tahoma, sans-serif;
  margin: 0;
  margin-bottom: 50px; }

.partners__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px; }
  .partners__list--marker .partners__item {
    padding-left: 30px;
    position: relative; }
    .partners__list--marker .partners__item::before {
      content: '—';
      position: absolute;
      top: 0;
      left: 10px; }
  .partners__list--numeration {
    padding-left: 15px; }

.partners__item {
  line-height: 1.55;
  margin-bottom: 5px;
  padding-left: 30px;
  position: relative; }
  .partners__item:last-child {
    margin-bottom: 0; }
  .partners__item::before {
    content: '—';
    position: absolute;
    top: 0;
    left: 10px; }

.partners__caption {
  display: block;
  font-size: 18px;
  margin-bottom: 20px; }

.partners__text {
  margin: 0;
  line-height: 1.55;
  margin-bottom: 20px; }

@media screen and (max-width: 767px) {
  .partners {
    font-size: 14px; }
  .partners__title {
    font-size: 30px; }
  .partners__caption {
    font-size: 16px; } }

@media screen and (max-width: 600px) {
  .partners {
    padding: 0 20px; } }

@media screen and (max-width: 420px) {
  .partners {
    font-size: 12px; }
  .partners__title {
    font-size: 24px; }
  .partners__caption {
    font-size: 14px; } }
