.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 17px 0; }

.site-list__link {
  font-family: "Geometria", Tahoma, sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none; }
